.solution {
  padding-left: calc((100 / 1366) * 100vw);
  padding-right: calc((100 / 1366) * 100vw);
  padding-top: calc((80 / 1366) * 100vw);
  padding-bottom: calc((40 / 1366) * 100vw);
  background-color: $theme;
  &_box {
    margin-top: calc((30 / 1366) * 100vw);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &_text {
      flex: 0 0 50%;
      width: 50%;
      color: #fff;
      font-family: $serif;
      &_txt {
        margin-bottom: calc((20 / 1366) * 100vw);
        font-size: calc((18 / 1366) * 100vw);
        &.-big {
          font-size: calc((26 / 1366) * 100vw);
        }
      }
    }
    &_image {
      flex: 0 0 50%;
      width: 50%;
      border: 20px solid #fff;
      border-radius: 30px;
      &_img {
        width: 100%;
        vertical-align: bottom;
        border-radius: 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .solution {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    &_box {
      margin-top: 20px;
      display: block;
      &_text {
        width: 100%;
        margin-bottom: 40px;
        &_txt {
          margin-bottom: 20px;
          font-size: 16px;
          text-align: center;
          line-height: 1.7;
          &.-big {
            font-size: 26px;
          }
        }
      }
      &_image {
        margin-top: 40px;
        width: 80%;
        margin: 0 auto;
        &_img {
          border-radius: 10px;
        }
      }
    }
  }
}