.type {
  margin: calc((30 / 1300) * 100vw) auto;
  text-align: center;
  &_txt {
    font-size: calc((24 / 1300) * 100vw);
    display: inline-block;
    position: relative;
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-color: rgb(6, 110, 6);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: -40px;
      transform: rotate(45deg);
    }
  }
}
@media screen and (max-width: 768px) {
  .type {
    margin: 30px auto;
    &_txt {
      font-size: 18px;
    }
  }
}
@media screen and (min-width: 1301px) {
  .type {
    margin: 30px auto;
    &_txt {
      font-size: 24px;
    }
  }
}