@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

$theme : #d5d0d0;
$bro : #7c7a7a;
$serif : 'Noto Serif JP', serif;

@import 'Foundation/settings';
@import 'Foundation/webfont';
@import 'Object/header';
@import 'Object/spmenu';
@import 'Object/kv';
@import 'Object/titlearea';
@import 'Object/type';
@import 'Object/main';
@import 'Object/footer';
@import 'Object/copy';
@import 'Object/title';
@import 'Object/form';

.kv {
  height: auto;
}
.aboutKv {
  margin: 0 auto;
  width: calc((800 / 1366) * 100vw);
  height: auto;
  &_image {
    width: 100%;
    &_img {
      width: 100%;
      border-radius: 30px;
    }
  }
}
.aboutBox {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: calc((100 / 1366) * 100vw);
  padding-right: calc((100 / 1366) * 100vw);
}
table {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: $theme;
  color: #fff;
  border-radius: 30px;
}
.tbttl {
  width: calc((300 / 1366) * 100vw);
}
td {
  line-height: 3;
}